<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <div class="form-group row">
            <label for="color" class="col-lg-3 col-form-label">ФИО клиента:</label>
            <div class="col-lg-9">
                <input #searchBox class="form-control" [ngClass]="{'is-invalid': isInvalid('clientFullName')}" formControlName="clientFullName" id="search-box" (keyup)="search(searchBox.value)" />
                <div class="invalid-feedback">
                    Поле обязательно для заполнения
                </div>
                <div class="form-check" *ngFor="let client of clients | async">
                    <input class="form-check-input" type="radio" formControlName="clientId" id="exampleRadios1" value="{{client.id}}">
                    <label class="form-check-label" for="exampleRadios1">
                        {{client.name}} {{client.phone}}
                    </label>
                </div>
                <div class="form-text text-muted" *ngIf="(clients | async)?.length && getFormField('clientId').invalid && getFormField('clientId').errors.required">
                    Выберите клиента
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="color" class="col-lg-3 col-form-label">Номер TODO:</label>
            <div class="col-lg-9">
                <input class="form-control" [ngClass]="{'is-invalid': isInvalid('nr')}" formControlName="nr">
                <div *ngIf="isInvalid('nr') && getFormField('nr').errors.required" class="invalid-feedback">
                    Поле обязательно для заполнения
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="color" class="col-lg-3 col-form-label">Дата TODO:</label>
            <div class="col-lg-9">
                <input class="form-control" [ngClass]="{'is-invalid': isInvalid('contractDate')}" formControlName="contractDate">
                <div *ngIf="isInvalid('contractDate') && getFormField('contractDate').errors.required" class="invalid-feedback">
                    Поле обязательно для заполнения
                </div>
                <div *ngIf="isInvalid('contractDate') && getFormField('contractDate').errors.pattern" class="invalid-feedback">
                    Поле должно быть в формате "YYYY-MM-DDThh:mm:ssZ"
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="color" class="col-lg-3 col-form-label">Дата TODO:</label>
            <div class="col-lg-9">
                <input class="form-control" [ngClass]="{'is-invalid': isInvalid('installDate')}" formControlName="installDate">
                <div *ngIf="isInvalid('installDate') && getFormField('installDate').errors.required" class="invalid-feedback">
                    Поле обязательно для заполнения
                </div>
                <div *ngIf="isInvalid('installDate') && getFormField('installDate').errors.pattern" class="invalid-feedback">
                    Поле должно быть в формате "YYYY-MM-DDThh:mm:ssZ"
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="color" class="col-lg-3 col-form-label">Адрес TODO:</label>
            <div class="col-lg-9">
                <input class="form-control" [ngClass]="{'is-invalid': isInvalid('address')}" formControlName="address">
                <div *ngIf="isInvalid('address') && getFormField('address').errors.required" class="invalid-feedback">
                    Поле обязательно для заполнения
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="color" class="col-lg-3 col-form-label">Комментарий TODO:</label>
            <div class="col-lg-9">
                <textarea class="form-control" rows="3" formControlName="comment"></textarea>
            </div>
        </div>
    </fieldset>
    <div class="form-group row">
        <div class="col-sm-8">
            <button type="submit" class="btn btn-outline-primary" [disabled]="projectForm.status != 'VALID'">
                <span class="fa fa-hdd-o" aria-hidden="true"></span> Сохранить
            </button>
        </div>
    </div>
</form>

<p>Form value: {{ projectForm.value | json }}</p>
<p>Form status: {{ projectForm.status | json }}</p>
