<p>
  region-of-type-2 works!
</p>
<h3><i>FormControl in a FormGroup</i></h3>
<form [formGroup]="form">
    <fieldset>
        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Название</label>
            <div class="col-sm-10">
                <input type="text" id="name" class="form-control" formControlName="name">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Профнастил</legend>
        <div class="form-group row">
            <label for="color" class="col-sm-2 col-form-label">Цвет</label>
            <div class="col-sm-10">
                <select id="color" class="form-control">
                    <option value="оцинкованный">Цинк</option>
                    <option value="окрашенный">RAL1014 (сл.-бежевый)</option>
                    <option value="окрашенный">RAL1015 (бежевый)</option>
                    <option value="окрашенный">RAL1036 (бронза)</option>
                    <option value="окрашенный">RAL2004 (оранж.)</option>
                    <option value="окрашенный">RAL3003 (рубин)</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>

<p>Form value: {{ form.value | json }}</p>
<p>Form status: {{ form.status | json }}</p>
